/* only responsive css */
@media(max-width: 1440px){
    .banner-content{
        padding-top: 35px;
    }
    .banner-btn{
        text-align: unset;
        padding-left: 35px;
    }
}

@media(max-width: 1280px){
    .banner-head h1{
        font-size: 50px;
    }
    .banner-img img{
        max-width: 300px;
    }
    .banner-content{
        padding-left: 80px;
        padding-top: 0;
    }
    .banner-btn{
        text-align: unset;
        padding-left: 50px;
    }
}

@media(max-width: 1024px){
    .com-head h1{
        font-size: 22px;
    }
}

@media(max-width: 1199px){
    .elec-img{
        position: absolute;
        top: -20px;
    }
    .appliances-img{
        top: -20px;
    }
}

@media(max-width: 991px){
    .banner-content{
        padding-top: 40px;
    }
    .products-area3{
        margin-top: 50px;
    }
    .elec-img{
        top: 30px;
    }
    .elec-img img{
        max-width: 500px;
    }
    .appliances-img{
        top: 260px;
    }
    .d-flex{
        flex-direction: column;
    }
    .why-vikas{
        padding: 60px 0;
    }
    .why-vikas-content p{
        max-width: unset;
    }
    .why-vikas-content{
        margin-bottom: 70px;
    }
    .msn-box1{
        margin-right: 0;
    }
    .msn-box2{
        margin-left: 0;
    }
    .msn-box{
        margin-bottom: 35px;
    }
    .msn-vsn{
        padding: 70px 0 60px;
    }
}

@media(max-width: 767px){
    .wpo-header-style-3 .topbar ul>li.phone-list,
    .wpo-header-style-3 .topbar ul>li.social-icons{
        display: none;
    }
    .brands-row .col-12{
        flex: 0 0 30%
    }
    .top-footer{
        text-align: center;
    }
    .ft-phone{
        justify-content: center;
    }
    .footer-logo{
        margin-bottom: 40px;
    }
    .footer-contacts{
        margin-bottom: 40px;
    }
    .count-box-3{
        padding-left: 0;
    }
    .counter-area{
        margin-top: 0;
    }
    .count-head h1{
        margin-bottom: 40px;
        font-size: 30px;
    }
    .count-box h1{
        font-size: 50px;
    }
    .count-box p{
        font-size: 18px;
    }
    .career-content{
        padding-left: 50px;
    }
    .tvad-area{
        flex-direction: column;
    }
    .tvad-content{
        padding-left: 0;
        margin-bottom: 60px;
    }
    .offer-btn{
        top: 50%;
    }
    .section-title-one::before{
        font-size: 35px;
    }
}

@media(max-width:575px){
    .navbar-brand>img{
        max-width: 250px;
    }
    .wpo-header-style-3 .topbar ul{
        height: 70px;
    }
    .about-content{
        margin-bottom: 30px;
    }
    .electronics-area{
        padding: 70px 0 100px;
    }
    .breadcrumb-area,
    .breadcrum-inner{
        height: 250px;
    }
    .breadcrum-inner{
        padding-left: 0;
    }
    .bread-head h1{
        font-size: 40px;
    }
    .why-vikas-content p{
        font-size: 18px;
    }
    .why-vikas-head h1{
        font-size: 40px;
    }
    .msn-box{
        padding: 20px;
    }
    .box2-area .banner .banner-image{
        flex: 100%;
    }
    .box2-area .banner{
        flex-direction: column;
    }
    .box2-area .banner .banner-text h1{
        font-size: 35px;
    }
    .box2-area .banner .banner-text{
        margin-bottom: 25px;
    }
    .section-title-one::before{
        display: none;
    }
    .ee-product{
        text-align: center;
    }
    .seller-img img{
        max-width: 180px;
        margin: 0 auto;
    }
}

@media(max-width: 450px){
    .banner-content{
        padding-left: 0;
        text-align: center;
    }
    .banner-head h1{
        font-size: 38px;
    }
    .banner-para p{
        font-size: 20px;
    }
    .banner-para p::before{
        width: 15%;
    }
    .elec-img img{
        max-width: 100%;
    }
    .products-area{
        margin-top: 340px;
    }
    .products-area2{
        margin-top: 380px;
    }
    .brands-row .col-12{
        flex: 0 0 48%
    }
    .banner-area{
        height: 55vh;
    }
    .banner-img img{
        max-width: 200px;
    }
    .banner-btn{
        padding-left: 0;
    }
    .banner-btn a{
        padding: 15px 25px;
        font-size: 16px;
    }
    .single-product{
        text-align: center;
    }
    .product-img img{
        max-width: 180px;
        margin: 0 auto;
    }
    .count-head h1{
        font-size: 20px;
    }
    .count-box h1{
        font-size: 45px;
    }
    .count-box span{
        font-size: 45px;
    }
    .count-box p{
        font-size: 10px;
    }
    .vikas-count{
        height: 450px;
    }
    .counter-area{
        height: 400px;
    }
    .career-content{
        padding-left: 20px;
        height: 400px;
    }
    .career-head{
        margin-bottom: 40px;
    }
    .career-img{
        height: 400px;
    }
    .careeer-head p{
        font-size: 15px;
    }
    .career-btn a{
        font-size: 15px;
    }
    .msn-para p,
    .com-para p,
    .why-vikas-text p{
        font-size: 16px;
    }
    .products-area3{
        margin-top: 50px;
    }
    .products-area3 .products-head h1{
        font-size: 28px;
    }
    .tvad-content h1{
        font-size: 30px;
    }
    .offer-btn a{
        font-size: 16px;
    }
    .tvad-content a{
        padding: 12px 30px;
        font-size: 16px;
    }
}

@media(max-width: 400px){
    .appliances-img{
        top: 430px;
    }
}